.sectionHeader {
  background: url(../imgs/logo.png) left no-repeat;
  height: 100px;
  background-size: 100px;
  text-transform: none !important;
  font-size: .9em !important;
  font-weight: bold;
  text-align: left;
  margin: 10px 30px 30px !important;
  text-indent: 150px;
  line-height: 100px !important;
  color: #00ff00 !important;
}
